<div class="container-fluid bg-stars">
    <div class="container text-center" style="color: white;">
        <img id="im" class=" mt-3" style='width: 50%; border-bottom: 4px solid #914858;' src="../../../../assets/img/background.jpeg" alt="" srcset=""><br>
        <h2 class="mt-3">{{item.title}}</h2>
        <div>
            {{item.opening_crawl}}
        </div>
        <div class="row mt-3 text-justified">
            <div class="col-12 text-center col-md-6">
                <p>Dirigido por: {{item.director}}</p>
                <p>Producido por: {{item.producer}}</p>
                <p>Año de lanzamiento: {{item.release_date}}</p>
            </div>
            <div class="col-12 text-center col-md-6">
                <div *ngIf="personas.length>0">Personajes:
                    <p *ngFor="let persona of personas">{{persona}}</p>
                </div>
                <div *ngIf="planetas.length>0">Planetas:
                    <p *ngFor="let planeta of planetas">{{planeta}}</p>
                </div>
                <div *ngIf="starships.length>0">Naves:
                    <p *ngFor="let stars of starships">{{stars}}</p>
                </div>
            </div>
        </div>
    </div>
</div>