.imh {
    height: 68.5vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: rgba( #000000, .2) url("../../../assets/img/e404-4ced2cd1702d_bb1ae7b9.webp");
}