<div class="container-fluid">
    <div class="container"><img class="w-100 mt-3" style='height:500px; border-bottom: 4px solid #914858;'
            src="../../../../assets/img/background.jpeg" alt="" srcset=""><br>
        <h2>Nombre</h2>
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam quam cum ratione, optio eius iusto veniam
            unde voluptas ad error ea cumque, repudiandae iste odio voluptatem iure expedita magni itaque?
            Iure iusto magnam quia possimus perferendis culpa maiores qui dolor. Laborum temporibus sequi unde, deserunt
            dignissimos totam inventore error accusamus, assumenda, quas recusandae porro quae suscipit! Maiores tempora
            reprehenderit enim?
            Maiores architecto accusamus eum vero, neque ut in mollitia qui doloribus nesciunt sed consectetur
            praesentium dicta ipsum maxime! Magnam, asperiores perspiciatis consequuntur illo velit minima adipisci
            officiis harum cum sapiente.</div>
        <div class="row">
            <div class="col-auto">
                <p></p>
                <p></p>
                <p></p>
            </div>
            <div class="col-auto">
                <p></p>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</div>