<div class="bg-stars text-center cover">
    <h1>Bienvenidos a mi Sprint ( FullStack )</h1>
    <p>En este Sprint, he logrado conectar una api hecha con NodeJs y Express con una BD de MongoDb</p>
    <p>ademas de hacer todo este FrontEnd con <code>@angular/cli</code></p>
    <p>Otra cosa es que la api usada pronto estará disponible para uso público</p>
    <p>Disfruten del proyecto</p>
    <button class="btn btn-light" id="imgbtn" routerLink="../starships">Starships</button>
    <button class="btn btn-light ms-3" id="imgbtn2" routerLink="../films">Films</button>
</div>