.bg {
    background-color: black;
    ul {
        font-style: normal;
        text-decoration: none;
        color: white;
        padding: 0 5rem;
        &:nth-child(1) {
            margin-top: .5rem;
        }
    }
}

.bg-stars {
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/background-stars-desktop_00cbf8a9.jpeg?region=0%2C0%2C2048%2C1600);
    background-position: center;
    background-repeat: repeat;
    background-size: auto;
    background-color: black;
}

.bg-card {
    background-color: #151515;
}

#loader {
    height: 50px;
    width: 50px;
    background-image: url("/assets/img/yodaloader.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0;
    &.show {
        opacity: 1;
    }
}

@media screen and (max-width: 268px) {
    .card-body {
        flex: 1 1 100px;
        min-width: 100px;
    }
}