<div class="row align-content-center py-5 bg-stars">
    <div class="col-4 mx-auto">
        <div class="card  text-white bg-dark h-100">
            <div class="card-header text-center">Iniciar Sesion</div>
            <div class="card-body">
                <form action="signIn()" (click)="signIn()" class="g-3">
                    <div class="form-group my-3">
                        <input id="mail" type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email@me.com" required>
                    </div>
                    <div class="form-group my-3">
                        <input id="pass" type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="text-center col-12">
                        <button type="submit" class="btn btn-primary btn-block">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>
</div>