<div class="row align-content-center py-5" style="width: 100%;">
    <div class="col-4 mx-auto">
        <div class="card h-100">
            <div class="card-header text-center">Iniciar Sesion</div>
            <div class="card-body">
                <form action="signIn()" class="g-3">
                    <div class="form-group my-3">
                        <input type="email" [(ngModel)]="user.email" name="email" class="form-control"
                            placeholder="Email@me.com" required>
                    </div>
                    <div class="form-group my-3">
                        <input type="password" [(ngModel)]="user.password" name="password" class="form-control"
                            placeholder="Password" required>
                    </div>
                    <div class="text-center col-12">
                         <button type="submit" class="btn btn-primary btn-block"
                            (click)="signIn()">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>