<div class="row align-content-center py-5 bg-stars ">
    <div class="col-4 mx-auto">
        <div class="card  text-white bg-dark h-100">
            <div class="card-header text-center">Registro</div>
            <div class="card-body">
                <form action="signUp()" class="g-3">
                    <div class="form-group my-3">
                        <input id="mailsu" type="email" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email@me.com" required>
                    </div>
                    <div class="form-group my-3">
                        <input id="passu" type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    </div>
                    <div class="text-center col-12">
                        <button type="submit" class="btn btn-primary btn-block" (click)="signUp()">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>